body {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Thambi 2', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(243, 230, 234);
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
      flex-wrap: wrap;
  }
  
  :root {
    --purple: #6C5BBB;
    --flex: flex;
    --space-around: space-around;
    --space-between: space-between;
    --wrap: wrap;
    --nowrap: nowrap;
    --center: center;
    --flex-start: flex-start;
    --flex-end: flex-end;
  }